

#frm{
    border: solid gray 1px;  
    width:50%;  
    border-radius: 12px;  
    margin: 50px auto;  
    background:white;  
    text-align: left;
    font-size: 25px;
    padding: 5px; 

}

#sunny
{


width: 100px;
height: 100px;
border-radius: 50%;
 background-color: blue; 
background-size: cover;

}

