
a:link, a:visited {
    width: 100%;
    color:white;
    padding: 7px 10px;
    text-align: right;
    text-decoration: none;
    
    background-size: cover;
    font-size: 60px;
    
    float: center;
    
  } 

.banner{
    
    width: 100%;
    background: blue;
    background: url("imge/giphy.gif");
    background-size: cover;
     font-size: 120px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: #fff;
    text-align: center;
    padding: 40px 15px;
}
.big{
    
    width: 100%;
    background: rgb(183, 245, 68);
    background-size: cover;
    font-size: 60px;
    color:white;
    text-align: right;
     padding: 20px 7px;
}
.h1{
    text-align: center;
    background-color: rgb(36, 145, 139);
    color: white;
    font-size: 40px;
}
h1{
    font-size: 40px;
}
.h2{
    text-align: center;
    font-size: 30px;
       
}
