#sunny{
	background-color: blue;
	color: grey;
    text-align:center ;
    font-size: 40px;
    
}
a:link, a:visited {
    text-align:center;
    color: white;
    padding: 14px 25px;
   	font-size:40px
    text-decoration: none;
    text-decoration: none;
    float: center; 
    
  } 