
h1{
    color: grey;
    text-align:center ;
    font-size: 50px;
    
}

body{
    
    background-image: url("imge/reg.jpg");
    margin-left: 100px; 
     background-size: cover;
   
}
#frm{  
    border: solid gray 1px;  
    width:25%;  
    border-radius: 12px;  
    margin: 50px auto;  
    background:white;  
    
    padding: 5px;  
}  
h3{
    color: grey;
    text-align:center ;
    font-size: 30px;
    
}
table{
    text-align: center;
   
    font-style: italic;
    font-size: 25px;
   
    
    font-weight: bold;

}
button{
    background-color:blue;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;

}
#em{
padding: 6px 10px;

}


a:link, a:visited {
    
    color:blue;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
     

    float: center;
  } 